<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BD_DespTanqInteEntities" connectionString="metadata=res://*/BD_DespTanqInte.csdl|res://*/BD_DespTanqInte.ssdl|res://*/BD_DespTanqInte.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USUARIO-PC;Initial Catalog=BD_DespTanqInte;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>